@{
    ViewData["Title"] = "UpdateUserProfile";
}

@section Scripts {

    <script type="text/javascript">
    
        GET_DATA("/UserAccount/UserAccount", [["ActionName", "GetUserAccountData"]], function(status, response) {
            if(status == 1)
            {
                let userData = JSON.parse(response);

                document.getElementById("txtFirstName").value = userData.FirstName;
                document.getElementById("txtLastName").value = userData.LastName;
                document.getElementById("txtIdentityNumber").value = userData.IdentityNumber;
                document.getElementById("txtEmailAddress").value = userData.EmailAddress;

                let qualificationHtml = "<table style='width: 100%'>";
                let identityHtml = "<table style='width: 100%'>";

                let qualificationDocuments = userData.QualificationDocuments;
                let identityDocuments = userData.IdentityDocuments;

                for (let i = 0; i < qualificationDocuments.length; i++) {
                    qualificationHtml += "<tr><td style='width: 50%'>" + qualificationDocuments[i].Name + "</td><td style='width: 25%'>" + qualificationDocuments[i].Type + "</td><td style='width: 25%'>" + qualificationDocuments[i].Size + "</td></tr>";
                }

                for (let i = 0; i < identityDocuments.length; i++) {
                    identityHtml += "<tr><td style='width: 50%'>" + identityDocuments[i].Name + "</td><td style='width: 25%'>" + identityDocuments[i].Type + "</td><td style='width: 25%'>" + identityDocuments[i].Size + "</td></tr>";
                }

                qualificationHtml += "</table>";
                identityHtml += "</table>";

                document.getElementById("qualifications").innerHTML = qualificationHtml;
                document.getElementById("identity").innerHTML = identityHtml;

                if (userData.RecoveryMethod1Enabled) { 
                    document.getElementById("chkRecoveryMethod1").checked = true;
                }

                if (userData.RecoveryMethod2Enabled) {
                    let accountRecovery = userData.AccountRecovery;
                    let securityQuestion = accountRecovery.split(',')[0];
                    let answer = accountRecovery.split(',')[1];

                    document.getElementById("chkRecovertMethod2").checked = true;
                    document.getElementById("txtQuestion").value = securityQuestion;
                    document.getElementById("txtAnswer").value = answer;
                }
            }
        });

    </script>

}

<div align="center">
    <div style="width: 650px">
        <br />
        <div style="background-color: rgb(35, 35, 35); background-image: radial-gradient(#2b5679, rgb(35, 35, 35)); border-radius: 16px">
            <br />
            <img src="~/images/account-icon-large.png" height="180" />
            <br />
            <br />
        </div>
        <div style="height: 2rem"></div>

        <h3 align="left">Manage Your Account</h3>
        <br />

        <div style="text-align: left">
            <b>Required fields are marked with an asterisk (*)</b>
        </div>
        <br />

        <table style="width: 650px" cellpadding="4">

            <tr>
                <th>First Name: <span class="red-asterisk">*</span></th>
                <td><input id="txtFirstName" type="text" style="width: 100%" /></td>
            </tr>

            <tr>
                <th>Last Name: <span class="red-asterisk">*</span></th>
                <td><input id="txtLastName" type="text" style="width: 100%" /></td>
            </tr>

            <tr>
                <th>Identity Number (ID): <span class="red-asterisk">*</span></th>
                <td><input id="txtIdentityNumber" type="text" style="width: 100%" /></td>
            </tr>

            <tr>
                <th>Email Address: <span class="red-asterisk">*</span></th>
                <td><input id="txtEmailAddress" type="text" style="width: 100%" /></td>
            </tr>

            <tr>
                <td colspan="2">
                    <br />
                    <hr />
                    <b>Qualification Document(s): <span class="red-asterisk">*</span></b>
                    <br />
                    <div>
                        <table style="width: 100%">
                            <tr style="background-color: rgb(220, 220, 220)">
                                <th style="width: 50%">FileName</th>
                                <th style="width: 25%">Type</th>
                                <th style="width: 25%">Size (MB)</th>
                            </tr>
                        </table>
                        <div id="qualifications" style="background-color: white; height: 150px; overflow-x: hidden; overflow-y: auto">
                        </div>
                        <div align="right">
                            <button class="button-class button-class-small2">Upload</button>
                            <button class="button-class button-class-small2">Delete</button>
                            <button class="button-class button-class-small2">Delete All</button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <br />
                    <hr />
                    <b>Proof of Identity Document(s): <span class="red-asterisk">*</span></b>
                    <br />
                    <div>
                        <table style="width: 100%">
                            <tr style="background-color: rgb(220, 220, 220)">
                                <th style="width: 50%">FileName</th>
                                <th style="width: 25%">Type</th>
                                <th style="width: 25%">Size (MB)</th>
                            </tr>
                        </table>
                        <div id="identity" style="background-color: white; height: 150px; overflow-x: hidden; overflow-y: auto">
                        </div>
                        <div align="right">
                            <button class="button-class button-class-small2">Upload</button>
                            <button class="button-class button-class-small2">Delete</button>
                            <button class="button-class button-class-small2">Delete All</button>
                        </div>
                    </div>
                    <br />
                </td>
            </tr>

            <tr style="height: 1rem"></tr>

            <tr>
                <th><input type="checkbox" id="chkRecoveryMethod1" style="color: red" />Recovery Method 1: Recovery File:</th>
                <td>
                    <button class="button-class button-class-small2 button-class-auto-wide">Generate New</button>
                    <button class="button-class button-class-small2 button-class-auto-wide">Download</button>
                </td>
            </tr>

            <tr>
                <th><input type="checkbox" id="chkRecoveryMethod2" style="color: red" />Recovery Method 2: Security Question</th>
                <td>
                    <table cellpadding="3">
                        <tr>
                            <th>Question:</th>
                            <td><input id="txtQuestion" type="text" style="width: 300px" id="txtSecurityQuestion" /></td>
                        </tr>
                        <tr>
                            <th>Answer:</th>
                            <td><input id="txtAnswer" type="text" style="width: 300px" id="txtAnswer" /></td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr style="height: 2rem"></tr>

            <tr>
                <td colspan="2">
                    <b>
                        Enter your current and new password if you want to change your password,<br />
                        otherwise leave these fields empty.<br /><br />
                    </b>
                </td>
            </tr>

            <tr>
                <th>Current Password:</th>
                <td><input type="password" value="" style="width: 100%" /></td>
            </tr>

            <tr>
                <th>New Password:</th>
                <td><input type="password" value="" style="width: 100%" /></td>
            </tr>

            <tr>
                <th>Confirm New Password:</th>
                <td><input type="password" value="" style="width: 100%" /></td>
            </tr>

        </table>
        <br />
        <br />

        <div align="right" style="width: 600px">
            <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Update</button>
            <button class="button-class button-class-small" onclick="window.location = '/UserAccount/UserAccount'">Cancel</button>
        </div>
    </div>
</div>

